.button {
    margin: 0;
    height: 50px;
    width: 120px;
    display: inline-block;
    border: none;
    font-size: 14px;
    text-align: center;
    color: #555;
    font-weight: 400;
    outline: none;
    text-transform: uppercase;
}